.cart{
    position: sticky;
    top: 0;
   
}
.clear-cart{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(165, 29, 29);
    border-radius: 10px;
    margin: 0px 30px;
    color: white;
}
#clear{
    margin-right: 5px;
    font-size: 20px;
}
.review-cart{
    display: flex;
    justify-content: center; 
    align-items: center;
   background-color: darkcyan;
    border-radius: 10px;
    margin: 0px 30px;
    color: white;
    margin-top: 10px;
}
#review{
margin-right: 5px;
}
.cart h3:hover{
  color: blue
}