.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    margin-left: 20px;
}
.cart-container{
    background: #FFE0B3;
    text-align: center;
   
}
.btn{
    margin: 10px;
}